<topic-matrix-table-options options="$ctrl.options"></topic-matrix-table-options>

<div class="row">
    <div class="col s12">
      You can use regex to search. Here is a reference about
      <a href="http://www.w3schools.com/jsref/jsref_obj_regexp.asp" target="_blank">
        javascript regex <i class="tiny material-icons">launch</i>
      </a>.
    </div>
    <div class="input-field col s12">
      <input
      id="search"
      type="text"
      ng-model="$ctrl.searchtext"
      ng-change="$ctrl.search()">
      <label for="search">Search a word</label>
    </div>
  <div class="col">Color map legend:</div>
  <div class="col color_map_legend" ng-repeat="color in $ctrl.colors track by $index" ng-style="$ctrl.getStyleFromColor(color)">
    {{$index==0? 'Less likely': $index==$ctrl.colors.length-1? 'More likely': '&nbsp;'}}
  </div>
  <div style="clear: both"></div>

  <div class="col s6">
    Showing {{$ctrl.show_n_words>$ctrl.table.length? $ctrl.table.length: $ctrl.show_n_words}}/{{$ctrl.table.length}} words
  </div>
  <div class="col s6 right-align">
    <a href="#!/topic-matrix/zoom" target="_blank">launch in new window <i class="tiny material-icons">launch</i></a>
  </div>

  <div class="col s12">
    <div class="z-depth-1">
      <table class="highlight" scrollable-table="fix-head fix-col">
        <thead>
          <tr>
            <th ng-click="$ctrl.sort(0)" class="clickable">
              Word
            </th>
            <th ng-repeat="topic in $ctrl.topics" ng-click="$ctrl.sort($index+1)" class="clickable">
              {{topic.label}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in $ctrl.table.slice(0, $ctrl.show_n_words)" ng-init="i=$index">
            <td ng-repeat="v in row track by $index"
              ng-style="$ctrl.showColor? $ctrl.getStyle(v): ''">{{v.toPrecision? v.toPrecision(5): v}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col s2">
    <button ng-click="$ctrl.increase_n()" class="waves-effect waves-light btn">+ Show more</button>
  </div>
  <div class="col s2">
    <label for="showColor">Color map</label>
    <div class="switch">
      <label>
        Off
        <input type="checkbox" id="showColor" ng-model="$ctrl.showColor">
        <span class="lever"></span>
        On
      </label>
    </div>
  </div>
  </div>
</div>
